:root {
  --code-bg: #292632;
}
code {
  background: rgb(218, 224, 218);
  border: solid 1px red;
  padding-left: 2px;
  padding-right: 2px;
  white-space: nowrap;
  font-size: 16px;
}
.code {
  padding: 24px;
  background: var(--code-bg);
  border-radius: 12px;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 32px;
  font-weight: 500;
  box-shadow: inset 0px -6px 2px rgba(0, 0, 0, 0.25),
    inset 0px 4px 2px rgb(78, 80, 91);
}

ol {
  padding: 20px;
}
.nav {
  position: fixed;
  top: 20px;
  right: 0;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.nav a {
  padding: 6px;
  padding-left: 20px;
  border-radius: 12px;
  color: #8f89b4;
  font-weight: 500;
}
.nav a:hover {
  background: rgba(199, 199, 222, 0.203);
}
.hl1 {
  background: rgb(178, 241, 19);
}
h1,
h2 {
  color: #3e434f;
}
h2 {
  padding-top: 20px;
  font-size: 28px;
}
p {
  color: #4d5067;
  font-size: 18px;
  font-weight: 500;
}
.code div {
  background: var(--code-bg) !important;
}
span[id^="t"] {
  cursor: pointer;
  background: #bada07;
  color: #000 !important;
  padding: 2px;
  border-radius: 2px;
  margin-left: 10px;
  box-shadow: 1px 2px 2px #0000003b, inset 0px -2px 1px #686718;
  padding-bottom: 4px;
}
span[id^="t"]:hover {
  opacity: 0.6;
}
.codenav a {
  max-width: 200px;
  padding: 8px 20px;
  margin-right: 10px;
  margin-bottom: 18px;
  display: grid;
  place-content: center;
  color: #fff;
  display: inline-block;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  line-height: 1;
  padding-bottom: 12px;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 1px 2px,
    rgba(45, 35, 66, 0.3) 0 3px 8px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
}

.codenav a:hover {
  transform: translateY(-2px);
}
.tooltip a {
  font-weight: 700;
  color: rgb(48, 102, 189);
}
